{
  "presets": [
    "react-native",
    "@babel/preset-flow",
    "module:metro-react-native-babel-preset"
  ],
  "plugins": [
    "@babel/plugin-proposal-nullish-coalescing-operator",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ]
}
